%header#header.header.fixed-top.d-flex.align-items-center
  .d-flex.align-items-center.justify-content-between
    = link_to root_path, class: "logo d-flex align-items-center" do
      %img{:alt => "", :src => "/assets/logo.png"}/
      %span.d-none.d-lg-block FindJob
  %nav.header-nav.ms-auto
    %ul.d-flex.align-items-center
      - if user_signed_in?
        %li.nav-item.dropdown.pe-3
          %a.nav-link.nav-profile.d-flex.align-items-center.pe-0{"data-bs-toggle" => "dropdown", :href => "#"}
            %img.rounded-circle{:alt => "Profile", :src => "/assets/profile-img.jpg"}/
            %span.d-none.d-md-block.dropdown-toggle.ps-2
              = current_user.short_name
          %ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.profile
            %li.dropdown-header
              %h6
                = current_user.full_name
              %span Web Developer
            %li
              %hr.dropdown-divider/
            %li
              = link_to edit_user_registration_path, class: "dropdown-item d-flex align-items-center" do
                %i.bi.bi-gear
                %span My Profile
            %li
              %hr.dropdown-divider/
            %li
              = link_to destroy_user_session_path, class:"dropdown-item d-flex align-items-center", method: :delete do
                %i.bi.bi-box-arrow-right
                %span Sign Out
      - else
        %li.nav-item
          = link_to new_user_registration_path, class:"nav-link nav-icon" do
            %i.fa-solid.fa-list
            %span Register
        %li.nav-item
          = link_to new_user_session_path, class:"nav-link nav-icon" do
            %i.fa-solid.fa-arrow-right-to-bracket
            %span Login